<h2>Simple Button</h2>
<app-btn></app-btn>
<app-btn></app-btn>

<h2>Button Demo with ng-content</h2>
<app-fancy-btn>Click Me</app-fancy-btn>
<app-fancy-btn><b>Submit</b></app-fancy-btn>

<h2>Button with click event</h2>
<app-fancy-btn (click)="fancyBtnClicked($event)" ><b>Submit</b></app-fancy-btn>

<h2>Button with custom event</h2>
<app-btn (someEvent)="doSomething($event)"><b>Submit</b></app-btn>

<h2>Button with custom event</h2>
<app-fancy-btn (someEvent)="doSomething($event)"><b>Submit</b></app-fancy-btn>

<div>
<app-card>
  <header><h1>Angular</h1></header>
  <content>One framework. mobile & desktop</content>
  <footer><b>Supper powered by google</b></footer>
</app-card>
</div>

<div>
<app-card>
  <header><h1 style="color:red">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source</b></footer>
</app-card>
</div>


<app-card-css-selector>
  <div class="header">
    <h1>Angular</h1>
  </div>
  <div class="content">
    One framework. mobile & desktop
  </div>
  <div class="footer">
    <b>Supper powered by google</b>
  </div>
</app-card-css-selector>


<app-card-css-selector>
  <div class="header">
    <h1 style="color:red">React</h1>
  </div>
  <div class="content">
    A JavaScript library for building user interfaces
  </div>
  <div class="footer">
    <b>Facebook Open Source</b>
  </div>
</app-card-css-selector>

<div>
<app-card-css-selector>
  <ng-container>
    <div class="header">
      <h1>Angular</h1>
    </div>
  </ng-container>
  <div class="content">
    One framework. mobile & desktop
  </div>
  <div class="footer">
    <b>Supper powered by google</b>
  </div>
</app-card-css-selector>
</div>

<div>
<app-card-css-selector>
  <ng-container ngProjectAs=".header">
    <div class="header">
      <h1>Angular</h1>
    </div>
  </ng-container>
  <div class="content">
    One framework. mobile & desktop
  </div>
  <div class="footer">
    <b>Supper powered by google</b>
  </div>
</app-card-css-selector>
</div>


<button counting>Increment</button>


<app-count-enter-key></app-count-enter-key>


<div>
  <h2>appHighLight Directive</h2>
  <p appHighLight>
    This Texthas blue border
  </p>
</div>
