<h2>Simple Button</h2>
<app-btn></app-btn>
<app-btn></app-btn>

<h2>Button Demo with ng-content</h2>
<app-fancy-btn>Click Me</app-fancy-btn>
<app-fancy-btn><b>Submit</b></app-fancy-btn>

<h2>Button with click event</h2>
<app-fancy-btn (click)="fancyBtnClicked($event)" ><b>Submit</b></app-fancy-btn>

<h2>Button with custom event</h2>
<app-btn (someEvent)="doSomething($event)"><b>Submit</b></app-btn>

<br>
<app-card>
  <header><h1>Angular</h1></header>
  <content>One framework. mobile & desktop</content>
  <footer><b>Supper powered by google</b></footer>
</app-card>

<br>
<br>
<app-card>
  <header><h1 style="color:red">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source</b></footer>
</app-card>
